<div class="container">
	<div class="jumbotron text-center">
		<h1>I have <span class= "label label-info" ng-bind="main.todos.data.length"></span>
		{{main.todos.data.length === 1 ? 'thing to do.' : 'things to do.' }}</h1>
	</div>

	<!-- TODO LIST -->
	<div id="todo-list" class="row">

			<!-- Loop over Todos in vm.todos -->
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="todo in main.todos.data">
					<span class="pull-right">
					<a class= 'btn btn-success' ng-click="main.deleteTodo(todo._id)">Complete</a>
					</span>		
					<h4 ng-bind="todo.text"></h4>

				</li>

			</ul>
	</div>

	<!-- TODO FORM -->
	<div id="todo-form" class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<form>
				<div class="form-group">
					<input type="text" class="form-control input-lg text-center" placeholder="I want to defeat Airman" ng-model="main.formData.text">

				</div>

				<button type="submit" class="btn btn-primary btn-lg" ng-click="main.createTodo()">Add</button>

			</form>
			
		</div>
		

	</div>

</div>